.redes {
    position: fixed;
    top: 46.8vh;
    left: 2.6%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1vh 1vh 1vh 1vh 1vh;
    gap: 2vh;
    width: 1%;
    justify-items: start;
    color: rgba(247, 238, 238, 0.512);

    

    p {
        transform: rotate(90deg);
        transform-origin: 10%;
        display: inline-block;
        margin-bottom: 2vh;
        font-family: Brandon_Grotesque_black;
        font-weight: bold;
        font-size: 20px;
    }

    #rayitaredes {
        margin-top: 8vh;
        margin-left: 10%;
        border: 2px solid;        
        height: 8vh;
        width: 0.05%;        
    }

    
}
