/* DEVELOPMENTS */

.tituloluxury{
    display: grid;
    font-size: 45px;
    text-align: center;
    line-height: 45px;
    font-weight: 400px;
    color: orange;
    height: 47px;
    top: 1763px;
  }
   
    .titulodevelopments{
      display: grid;
      font-size: 80px;
      text-align: center;
      line-height: 45px;
      font-weight: 500px;
      color: black;
      height: 47px;
      top: 1763px;
    }
  
  .seccion2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 10px;
    padding: 100px;
  }
  
  .img2 {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .c5,
  .c4 {
    margin-left: 30px;
  }
  
  .c4 {
    font-size: 30px;
  }
  .c5 {
    font-size: 24px;
    color: gray;
  }
  
  @media (max-width: 1280px) {
    .seccion2 {
      padding: 40px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .seccion2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .seccion2 {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .c4,
    .c5 {
      display: none;
    }
  }
  