.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    padding: 15vh;
    
    .contBuscador {
        justify-self:end;
            
        .buscador{
            position: relative;
            justify-self: end;
            img {
                position: absolute;                    
                margin-right: 20px;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }

            input {
                color:rgba(255, 255, 255, 1);
                text-decoration: none;
                border: 1px solid rgba(255, 255, 255, 1);
                border-radius: 100px;
                padding: 2vh 10vh;
                width: fit-content;
                background-color: transparent;
                ;
    
                &::placeholder{
                    color:rgba(183, 172, 172, 0.841);
                    font-family: Brandon_Grotesque_light; 
                    font-size: 20px;
                    padding: 10px 12px;
                    z-index: 5;
                    display: inline-flex
                    ;align-items: center;
                    white-space: nowrap; }
                 
                }
            }
    
            
        }        
    }

    .titulo {
        align-self: self-end;

        h2 {
            color:rgba(180, 183, 183, 1);
                    font-family: 'PFRegalDisplayPro-Regular';
                    font-size: 40px;
        }

        h1 {
            color:rgba(255, 255, 255, 1);
                    font-family: Brandon_Grotesque_light;
                    font-weight: lighter;
                    font-size: 80px;     
                    margin-bottom: 4.62%;
        }

        a {
            color:rgba(255, 255, 255, 1);
            text-decoration: none;
            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: 100px;
            padding: 1vh 5vh;
            width: fit-content;

            font-family: Brandon_Grotesque_light;
                        font-weight: lighter;
                        font-size: 30px;
                        white-space: nowrap

            
        }
    }


.bars {
    
    display: grid;
    grid-template-columns: 47% 2% 2% 2% 47%;
    position: absolute;
    column-gap: 1%;
    justify-items: stretch;
    align-content: center;
           
    top: 91.94vh;
    width: 100%;
    height: 3vh;
    
    .bar {
        height: 0.5vh;
        background-color: rgba(180, 183, 183, 1);
    }
    
}

.imgsup__img{
    background-image: url(/img/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imgsupbanner__cover {
    width: 100%;
    height: 100vh; 
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(126, 126, 126, .1))
}

@media (max-width: 480px) {
    .imgsup__img{
    background-image: url(/img/banner-mobile.png);
    }
}

@media (max-width: 320px) {
    .imgsup__img{
    background-image: url(/img/banner.png);
    }
    }